# Ignore generated pattern chart images
PatternCharts/
outputs/
pattern_detection_summary.csv
# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

